body {
  background-color: #CACACA;
}

text {
  font-family: sans-serif;
  font-size: 10px;
}

.place,
.transition {
  cursor: pointer;
}

.place circle,
.transition rect {
  stroke-width: 1px;
  stroke: #444444;
  fill: #DCDCDC;
}

.transition.enabled rect {
  stroke: #44AA44;
  fill: #96FF96;
}

.transition.focused rect {
  stroke: #005500;
  fill: #55AA55;
}

.arc line {
  stroke-width: 1px;
  stroke: #444444;
}

#arrow {
  fill: #444444;
}

.place tspan {
  text-anchor: middle;
  alignment-baseline: central;
}

#log {
  width: 70%;
  height: 500px;
  font-size: 10px;
}

.link {
  stroke-width: 1px;
  stroke: #444444;
}

.information-flow-link ,
.participation-link,
.association-link {
  opacity: 0.15;
}

use {
  stroke: black;
  stroke-width: 1px;
}

.active use {
  stroke: red;
  stroke-width: 3px;
}
